<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.text_field :name, class: 'form-control', placeholder: :name%>
    <div class="input-group-append">
      <%= form.submit 'Ок', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
