<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= link_to '<button type="button" class="btn btn-success btn-sm">Добавить</button>'.html_safe, new_user_path %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td style="width: 100%"><%= user.name %></td>
        <td><%= link_to '<button type="button" class="btn btn-success btn-sm">Обзор</button>'.html_safe, user %></td>
        <td><%= link_to '<button type="button" class="btn btn-primary btn-sm">Править</button>'.html_safe, edit_user_path(user)%></td>
        <td><%= link_to '<button type="button" class="btn btn-danger btn-sm">Удалить</button>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

