<h1>User</h1>
<p id="notice"><%= notice %></p>
<p>
  <strong>id:</strong>
  <%= @user.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to '<button type="button" class="btn btn-primary btn-sm">Править</button>'.html_safe, edit_user_path(@user) %>
<%= link_to '<button type="button" class="btn btn-secondary btn-sm">Назад</button>'.html_safe, users_path %>



<p id="notice"><%= notice %></p>

<div id="121">
  <%=form_for @microposts_new_user do |f|%>
    <%=f.text_field :user_id, :style=>'display: none'%>
    <div class="input-group mb-3">
      <%=f.text_field :content, class: 'form-control', placeholder: 'New micropost'%>
      <div class="input-group-append">
        <%= submit_tag 'Ок', class: 'btn btn-success' %>
      </div>
    </div>

<% end %>
</div>
<h1>Microposts</h1>
<%= render template: 'microposts/index_table' %>
Всего постов <%= @microposts.count%>
