<h1>ETS Demo</h1>
<h3>с интерфейсом на Ruby on Rails</h3>

<%= form_tag  etsdemo_path do %>
  логин <br>
  <%=text_field_tag(:login, value='etsdemo')  %>
  <br>
  пароль <br>
  <%=password_field_tag(:password, value='2241ets')  %>
  <br>
  <%= check_box_tag(:checker) %>
  <%= label_tag(:checker, "Написать письмо?") %>
  <br>
  Кому <br>
  <%=text_field_tag(:to, value='etsdemo@mail.ru')  %>
  <br>
  Тема <br>
  <%=text_field_tag(:title, value='Mail from Selenium')  %>
  <br>
  Сообщение <br>
  <%=text_field_tag(:msg, value='Hello')  %>
  <br><br>
  <%= submit_tag("Go", class: 'btn btn-success btn-block') %>
<% end %>
<% if params['commit']=="Go"%>
  <h1>result</h1>
  <%#= params%>
  <% @report.each do |element| %>
    <li><%= element %></li>
  <% end %>
<%end %>