<h1>form</h1>

<%= form_tag  form_path do %>
  x=
  <%=text_field_tag(:x, value=1)  %>
  <br>
  y=
  <%=text_field_tag(:y, value=2)  %>
  <br>
Выберите цвет
<%= radio_button_tag(:radio, 1, checked=true) %>
<%= label_tag(:radio1,"Черный") %>
<%= radio_button_tag(:radio, 2) %>
<%= label_tag(:radio2, "Белый") %>
  <br>
  Машина <%= select_tag(:car, raw('<option value="1">Mercedes</option><option value="2">BMV</option>')) %>
  <br>
  <%= check_box_tag(:checker) %>
  <%= label_tag(:checker, "Checkbox") %>

<%#= select_tag(:city_id, raw('<option value="1">Lisbon</option><option value="2">Madrid</option><option value="3">Berlin</option>')) %>
  <br>
  <%= submit_tag("Go") %>
<% end %>
<h1>result</h1>
<% if params['commit']=="Go"%>
  x=<%=params['x'] %>
  <br>
  y=<%=params['y'] %>
  <br>
  <%="sum=#{params['x'].to_i+params['y'].to_i if params['x']}"%>
<br>
Цвет =
<%="черный" if params['radio']=='1'%>
<%="белый" if params['radio']=='2'%>
  <br>
  Машина =
  <%="Mercedes" if params['car']=='1'%>
  <%="BMV" if params['car']=='2'%>
  <br>
  <%= "Checkbox=uncheck" if params['checker']!='1'%>
  <%= "Checkbox=cheked" if params['checker']=='1'%>
<%end %>