<div class="row">
  <!--<div>IzatBlv рус инг контакты</div>-->
</div>
<div class="container-fluid" style="background: #33cc33; color: white">
  <div class="d-flex align-items-center bd-highlight" style="min-height: 100vh">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>QA Selenium Автотесты</h1>
          <p class="lead">
            Предлагаю Selenium автоматические тесты <br>
            <br>
          <h3>Преимущества</h3>
          <li>Высокая скорость</li>
          <li>Высока надежность</li>
          <li>Интерфейс на Ruby on Rails</li>
          <br>
          <a href="#demo" class="btn btn-light btn-lg">Демонстрации</a>
          <a href="#work" class="btn btn-light btn-lg">Cотрудничество</a>
          </p>
        </div>
        <div class="col-md-6">
          <%= image_tag('selenium2.png', width: '100%') %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="demo" style="background: dodgerblue; color: white">
  <div class="d-flex align-items-center bd-highlight" style="min-height: 100vh">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <iframe width="901" height="507" src="https://www.youtube.com/embed/kpHhjooXggk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="width: 100%"></iframe>
          <h5>Отправка письма через Ruby on Rails интерфейс</h5>
        </div>
        <div class="col-md-6">
          <iframe width="901" height="507" src="https://www.youtube.com/embed/9ZV8HTmgo2I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="width: 100%"></iframe>
          <h5>Демонстрация Selenium основные web элементы</h5>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid" id="work" style="color: #343a40">
  <div class="d-flex align-items-center bd-highlight" style="min-height: 100vh">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Предлагаю удаленное или штатное сотрудничество</h1>
          <p>
          <h3>Jira, Redmine</h3>
          Опыт работы систем упревления задач таких как "Jira", "Redmine" позволяют быстро внедряться проект, брать задачи в
          работу и описывать новые тикеты
          <h3>Git, ssh</h3>
          Опыт работы использования систем управления версиями таких как "Git" дает возможность внедриться в проект, работать
          на изолированной ветке, а также через "SSH" работать на изолированном выделенном сервере
          <h3>Онлайн</h3>
          Я на связи через приложения Skype, WhatsApp, Telegram
          <h3>Контакты</h3>
          <div>Skype: izatsupra</div>
          <div>e-mail: 121izat@gmail.com</div>
          <div>WhatsApp, Telegram: +996 772 303 121</div>
          </p>
        </div>
        <div class="col-md-6">
          <%= image_tag('work.jpg', width: '100%') %>
        </div>
      </div>
    </div>
  </div>
</div>


