<h1></h1>
<%= form_with(model: micropost, local: true) do |form| %>
  <% if micropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% micropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.collection_select(:user_id, User.all, :id, :name) %>
  </div>

  <div class="input-group mb-3">
    <%= form.text_field :content, class: 'form-control', placeholder: :content%>
    <div class="input-group-append">
      <%= form.submit 'Ок', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
