<p id="notice"><%= notice %></p>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.id %></td>
        <td style="width: 100%"><%= micropost.content %></td>

        <%@user=User.find_by id: micropost.user_id %>
        <td><%= @user.name %></td>
        <td><%= link_to '<button type="button" class="btn btn-success btn-sm">Обзор</button>'.html_safe, micropost %></td>
        <td><%= link_to '<button type="button" class="btn btn-primary btn-sm">Править</button>'.html_safe, edit_micropost_path(micropost)%></td>
        <td><%= link_to '<button type="button" class="btn btn-danger btn-sm">Удалить</button>'.html_safe, micropost, method: :delete, data: { confirm: 'Are you sure?' }%></td>

      </tr>
    <% end %>
  </tbody>
</table>

