<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @micropost.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @micropost.user_id %>
</p>

<%= link_to '<button type="button" class="btn btn-primary btn-sm">Править</button>'.html_safe, edit_micropost_path(@micropost) %>
<%= link_to '<button type="button" class="btn btn-secondary btn-sm">Назад</button>'.html_safe, microposts_path %>
