<% @microposts.each do |post| %>
<div class="card bg-light mb-3">
  <div class="card-header">
    <%@user=@users.find_by id: post.user_id %>
    <%= @user.name %>
  </div>
  <div class="card-body">
    <p class="card-text">    <%= post.content %></p>
    <p class="card-text" style="font-size: 10px;">      <%= post.created_at %></p>
  </div>
</div>

<% end %>