<td><%= link_to '<button type="button" class="btn btn-light">User</button>'.html_safe, demo1_path  %></td>
<td><%= link_to '<button type="button" class="btn btn-light">Admin</button>'.html_safe, users_path  %></td>
