<td><%= link_to '<button type="button" class="btn btn-light">Users</button>'.html_safe, users_path  %></td>
<td><%= link_to '<button type="button" class="btn btn-light">Mircoposts</button>'.html_safe, microposts_path  %></td>
